<h1 class="align">Alphablog Articles</h1>
<p> <%= link_to "Create Article", new_article_path,class: "btn btn-success"  if logged_in?%> <%= link_to "Home Page", root_path,class: "btn btn-primary", id: "float" %>

<% @articles.each do |article| %>
<div class="row">
<div class="col-sm-12">
<div class="well">
<div class="article-title">
 <%= link_to article.title , article_path(article)%>
 </div>
 <% if article.categories.any? %>
<% article.categories.each do |name| %>
<div class = "articlecategries">
<ul>
<li class = "badge badge-pill badge-info" ><%= name.name %></li>
</div>
<% end %>
<% end %>
 <div class="article-body">
 <%= truncate(article.description, length: 50) %>
 <div class="article-meta-details">
 Created by:<%= article.user.username if article.user%> 
 <%= time_ago_in_words(article.created_at) %>ago<br/>
 Last updated: <%= time_ago_in_words(article.updated_at) %>ago
  </div>
  </div>
  </div>
  <% if logged_in? && (current_user == article.user|| current_user.admin?) %>
  <div class="articleactions2">
<%= link_to "Delete", article_path(article),method: :delete, data:{confirm: "Are you sure?"},class: "  btn-danger" %>
<%= link_to "Edit ", edit_article_path(article), class: " btn-primary" %>

</div>
<% end %>
</div>
</div>
<%end%>

<%= link_to "NEXT PAGE", articles_path(page: @page + 1) , class: " btn-primary" %>
<%= link_to "PREVIOUS PAGE", articles_path(page: @page - 1), class: " btn-primary" %>
